<div class="mt-5">
    <h3> Apply </h3>
    <form method="POST" action="/toys/{{toy._id}}?_method=PUT">
         <div class="form-group">
                <label for="name">Name toy</label>
                <input type="text" class="form-control" value="{{toy.name}}" id="name" name="name">
         </div>
         <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control"  id="description" name="description">{{toy.description}}</textarea>
         </div>
         <div class="form-group">
                <label for="image">image</label>
                <input type="text" class="form-control" value="{{toy.image}}" ="image" name="image">
         </div>
         <div class="form-group">
                <label for="level">Quantity</label>
                <input type="text" class="form-control" value="{{toy.quantity}}" ="quantity" name="quantity">
         </div>
         <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" value="{{toy.price}}" ="price" name="price">
         </div>
         </div>
     <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>